.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.container button {
    background-color: #FCC436;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 336px;
    height: 40px;
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14.35px;
    letter-spacing: 0.03em;
}