.container {
    display: flex;
    height: 7vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    flex-direction: row;
    border: none;
    background-color: var(--purpleFooter);
    justify-content: space-between;
    align-items: center;
}

.container img:nth-child(1) {
    height: 4.5vh;
    width: 70px;
    left: 10vw;
    position: relative;
    cursor: pointer;
}

.container img:nth-child(2) {
    height: 5vh;
    width: 70px;
    right: 10vw;
    position: relative;
    cursor: pointer;
}