.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    width: 50vw;
    height: 52vw;
    position: relative;
    overflow: auto;

    @media screen and (max-width: 768px){
        width: 90vw;
        height: 75vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
    }
}

.container h1 {
    font-size: 25px;
    font-weight: 900;
    line-height: 20.5px;
    letter-spacing: 0.105em;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    position: relative;
    color: var(--purpleFooter);
}

.card {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 20vh;
    margin-top: 10px;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.card img {
    width: 10vw;
    height: 20vh;
    border-radius: 10px 0 0 10px;

    @media screen and (max-width: 768px){
        width: 40vw;
        height: 20vh;
    }
}

.card div {
    display: flex;
    width: 30vw;
    gap: 5px;
    height: 20vh;
    flex-direction: column;
    align-items: flex-start;
    text-indent: 20px;
}

.card div h1 {
    font-size: 17px;
    font-weight: 700;
    line-height: 12.3px;
    text-align: left;
    position: relative;
    color: black;
    top: 10px;
}

.card div p {
    font-size: 13px;
    font-weight: 300;
    line-height: 9.23px;
    text-align: center;
    position: relative;
    top: 20px;
}

.button {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 768px){
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }
}


.button button p {
    color: var(--greyFont);
    font-weight: 300;
    font-size: 15px;
}

.button button {
    display: flex;
    width: 70px;
    height: 70px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 5px solid var(--yellowLight);
    cursor: pointer;
}

.button button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.button button img {
    width: 40px;
    height: 40px;
    top: 10px;
}