.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 60vh;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.container h1 {   
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 20.5px;
    letter-spacing: 0.105em;
    text-align: center;
    color: var(--purpleFooter);
}

.container h2 {   
    font-size: 16px;
    font-weight: 700;
    line-height: 16.4px;
    text-align: center;
    color: #000000;
}

.container a {
    width: 20vw;
    height: 5vh;
    align-items: center;
    border-bottom: 1px solid var(--greyFont);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--greyFont);
    cursor: pointer;

    @media screen and (max-width: 768px){
        width: 50vw;
        font-size: 23px;
    }
}

.container a:hover {
    transform: scale(1.05);
}