.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 13vh;
    position: relative;
    top: 8vh;
    justify-content: center;
    border: 2px solid #b600ce;
}

.container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    border: 2px solid #0040c8;
}