.container {
    display: flex;
    position: fixed;
    height: 10vh;
    top: 0;
    z-index: 1000;
    width: 100vw;
    flex-direction: row;
    border: none;
    background-color: var(--yellowLight);
    justify-content: space-around;
    align-items: center;
}

.container div {
    display: flex;
    align-items: center;
}