* {
  margin: 0;
  padding: 0;
}

:root {
  --yellowDark: #FCC436;
  --yellowLight: #FCDC36;
  --purpleFooter: #41197F;
  --greyFont: #797D86;

}

/* Outros estilos globais podem ser adicionados aqui */
body {
  background-color: #f0f0f5;
  font-family: 'Epilogue', sans-serif;
}