.container {
    height: 10vh;
    cursor: pointer;
    background: none;
    border: none;
}

.container img:nth-child(1) {
    height: 10vh;
    width: 70px;
}

.container img:nth-child(2) {
    height: 45px;
    width: 130px;
}